
nav {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Inter, sans-serif;
  color: var(--p1);
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.links {
  font-weight: 600;
  font-size: 24px;
  display: flex;
  column-gap: 1rem;
  justify-content: space-around;
}

