@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --bg: #0f0e10;
  --primary: #fafbfb;
  --accent: #b3e7eb;
  --secondary: #3a3a3b;
  --section-bg: #19181a;
}

body {
  background-color: var(--bg);
  color: var(--primary);
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.app {
  max-width: 1024px;
  width: 1024px;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  color: var(--accent);
}

::-webkit-scrollbar {
  height: 0.25rem;
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
}
