.add-comment-container {
  font-weight: bold;
}

.add-comment-content {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

textarea {
  border: none;
  border-radius: 0.3rem;
  outline: none;
  width: max-content;
  padding: 0.5rem;
  color: var(--primary);
  background-color: var(--bg);
  border: 0.1rem solid var(--border);
  border-radius: 0.2rem;
  font-weight: 400;
  font-family: 'Space Grotesk', sans-serif;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.add-comments-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.4rem;
  border-top: 0.1rem solid var(--border);
  padding: 0.7rem;
}

.add-comment-button {
  border: 0.1rem solid var(--border);
  border-radius: 0.4rem;
  background-color: var(--bg);
  color: var(--primary);
  font-size: 1rem;
  cursor: pointer;
  padding: 0.2rem;
  opacity: 90%;
}

.add-comment-button:hover {
  opacity: 100%;
  transform: scale(1.2);
}

.add-comment-header {
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Space Grotesk', sans-serif;
}
