.code-container {
  border-radius: 3px;
  max-width: calc(82% - 1rem);
  min-width: calc(82% - 1rem);
  font-size: 12px;
  margin-left: 1rem;
}

@media only screen and (max-width: 500px) {
  .code-container {
    margin-top: 1rem;
    margin-left: 0rem;
    max-width: 100%;
    min-width: 100%;
  }
}
