.code-container {
  max-width: 75%;
  min-width: 75%;
  font-size: 12px;
  border: 0.2rem solid var(--secondary-accent);
}

@media only screen and (max-width: 992px) {
  .code-container {
    margin-top: 1rem;
    margin-left: 0rem;
    max-width: 100%;
  }
}

.selected-line {
  background-color: var(--line-selection-highlight);
  border-left: solid var(--line-selection-border-color);
}


.editor-context-menu {
  position: absolute;
  border-radius: 5%;
  background-color: white;
  box-shadow: 0px 0px 5px 1px darkgrey;
}
