.repo-card {
  height: max-content;
  max-width: 25rem;
  min-width: 25rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #1b1a27;
  border-radius: 5px;
  color: #6b9cf1;
}

.repo-card:hover {
  cursor: pointer;
}


.repo-card-icon {
  width: 1rem;
}

.repo-name {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  align-items: center;
  padding: 0.2rem 0rem;
}

.repo-desc {
  display: flex;
  flex-direction: row;
  padding: 0.2rem 0rem;
  font-size: 0.9rem;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.repo-stats {
  padding: 0.2rem 0rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  color: #39bcac;
  font-size: 0.9rem;
  font-weight: bold;
  align-items: center;
}

.repo-stars {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}