.results {
  background-color: var(--section-bg);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  margin-left: 1rem;
  width: 100%;
  min-height: calc(60vh - 1rem);
  max-height: calc(60vh - 1rem);
  overflow-y: scroll;
}

.source-tag {
  text-decoration: none;
}

.correct-player {
  color: var(--accent);
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .results {
    max-width: 100%;
    min-width: 100%;
    margin-top: 1rem;
    margin-left: 0rem;
  }
}
