.game-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: calc(10vh - 1rem);
  max-height: calc(10vh - 1rem);
  padding-bottom: 1rem;
}

.left-panel {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.right-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mid {
  display: flex;
  justify-content: space-between;
}

.players-container {
  background-color: var(--section-bg);
  color: var(--primary);
  min-width: 15vw;
  max-width: 15vw;
  height: calc(60vh - 1rem);
  font-size: 1rem;
  border-radius: 3px;
  padding: 1rem;
  overflow-x: scroll;
}

.player {
  font-weight: bold;
  font-size: 1.125rem;
  font-family: monospace;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.host {
  border-left: 3px solid var(--accent);
}

.player-info {
  display: flex;
  gap: 1rem;
}
.player-avatar {
  width: 24px;
  object-fit: contain;
}

.game-buttons {
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-family: "Inter", "sans-serif";
  border-radius: 3px;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: var(--primary);
  color: var(--bg);
  outline: none;
  border: none;
  height: min-content;
}

.game-buttons:hover {
  cursor: pointer;
  background-color: var(--accent);
  transition: background 0.5s ease;
}

.game-buttons:disabled {
  background-color: var(--secondary);
}

.game-buttons:disabled:hover {
  background-color: var(--secondary);
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
}
