.game-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-panel {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.right-panel {
  display: flex;
  flex-direction: row;
}

.mid {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.players-container {
  background-color: var(--section-bg);
  color: var(--primary);
  min-width: 200px;
  height: 512px;
  font-size: 16px;
  border-radius: 3px;
  padding: 1rem;
}

.player {
  font-weight: bold;
  font-size: 1.125rem;
  font-family: monospace;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.host {
  border-left: 3px solid var(--accent);
}

.player-info {
  display: flex;
  gap: 1rem;
}
.player-avatar {
  width: 25px;
  object-fit: contain;
}

button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-family: "Inter", "sans-serif";
  border-radius: 3px;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--primary);
  color: var(--bg);
  outline: none;
  border: none;
}

button:hover {
  background-color: var(--accent);
  transition: background 0.5s ease;
}

button:disabled {
  background-color: var(--secondary);
}

button:disabled:hover {
  background-color: var(--secondary);
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
}
