.help-card {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  color: var(--primary);
  font-size: 0.8rem;
  padding: 0.5rem 0.5rem;
  font-weight: 500;
  border: 0.1rem solid var(--border);
  border-radius: 0.2rem;
  background-color: var(--bg);
  align-items: stretch;
  max-width: fit-content;
}

.help-card-content {
  display: flex;
  flex-direction: column;
  padding-left: 0.2rem;
  gap: 0.2rem;
}
