table {
  font-weight: bold;
  font-size: 1.25rem;
  font-family: monospace;
}

td {
  font-weight: normal;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
}

th {
  text-align: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.correct-choice {
  color: green;
}

.wrong-choice {
  color: red;
}